body {
  margin: auto;
  background: #becbe4;
  font-family: "Open Sans", sans-serif;
  background-image: url(/image/image.jpg);
  background-repeat: inherit;
  background-size: auto;
}

div > h3 {
  text-align: center;
}

.info p {
  text-align: center;
  color: #999;
  text-transform: none;
  font-weight: 600;
  font-size: 15px;
  margin-top: 2px;
}

.info i {
  color: #f7e7d9;
}

form h1 {
  font-size: 18px;
  background: #f3d9c3;
  color: #800d29;
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align: left;
}

form,
.result-form {
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 5% auto;
  background-color: #ffffff;
  overflow: hidden;
}

.req {
  color: #f00;
}

p {
  margin: 0px;
  line-height: 2;
}

h1 {
  text-align: center;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  margin: 50px 0px 0px 0px;
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #c7c4c4;
  margin-bottom: 15px;
  width: 75%;
  height: 36px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration: inherit;
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 0px 15px;
}

.icon {
  width: 36px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background: #eae7e7;
  height: 38px;
  /* position: relative; */
  text-align: center;
  line-height: 40px;
}

i {
  color: #555;
}

.form {
  padding: 5px 30px;
}

.btn {
  background-color: #81bda4;
  color: #fff;
  text-align: center;
  width: 100%;
  border: 0;
  /* padding: 17px 25px; */
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 0px;
}

.left-div {
  width: 49.5%;
  float: left;
  border-right: 1px dotted #ccc;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.right-div {
  width: 49.5%;
  float: right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.item-rate {
  float: right;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
  color: blue;
}

.pd-right-10 {
  padding-right: 10px;
}

.pd-left-10 {
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.receipt-label {
  font-family: Georgia, Times, Serif;
  font-weight: 900;
  float: right;
  padding-right: 20px;
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.04em;
  text-align: center;
  width: 100%;
  margin: auto;
}

.tbl {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.margin-top {
  margin-top: 10px;
}

.algn-right {
  text-align: right;
}

#receipt-inner-div {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.receipt-inner-label {
  margin-bottom: 5px;
  font-family: Georgia, Times, Serif;
  font-weight: 700;
  color: #a516d3;
}

.err-msg {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: red;
  margin: 20px;
  text-align: center;
}
.textbox-div {
  width: 100% !important;
  float: left;
  height: 38 px;
  line-height: 40px;
}
.textbox {
  width: 87.5% !important;
}
img {
  width: 100%;
  height: 100px;
}
.select-dropdown {
  width: 98.5% !important;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #c7c4c4;
  margin-bottom: 15px;
  height: 36px;
  float: left;
  padding: 0px 15px;
}
